@model WebApplication1.Models.UserModel
@{
    ViewData["Title"] = "AccountManagment";
}

<h1>AccountManagment</h1>

<form asp-action="DeactivateMember" asp-controller="Home" method="post">
    <p>Cancel Account?</p> <button type="submit" value="Yes">Yes</button> <button type="button" value="No">No</button>
</form>