@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
Layout = null;
}

<br/>
<br/>
<div align="center"><h1>You have been logged out!</h1></div>

