@model WebApplication1.Models.UserModel

@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<style>
</style>
<html>
<head>
    <title>Comic Main Menu</title>
</head>

<body>
    <div align="center"><partial name="~/Views/Home/NewComicFlipperView.cshtml" /></div>
</body>
</html>

