

@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<style>
</style>
<html>
<head>
    <title>Main Menu</title>
</head>
    
<body>
    <div align="center"><partial name="~/Views/Home/NewMovieFlipper.cshtml" /></div>
</body>
</html>
