
@{
    ViewData["Title"] = "SearchView";
}

<h2>SearchView</h2>

<div align="center">
    <input type="text" id="searchBox"/>
</div>

<div id="searchResultDiv">
    <partial name="~/Views/Home/SearchResultPartialView.cshtml"/>
</div>
